<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{173,3},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{343,3},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,95},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{173,95},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{343,95},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,187},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,279},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{3,371},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{173,187},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{343,187},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{173,279},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{343,279},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{173,371},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochu_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{343,371},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eliminationeffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f46c0fc28ddcc3778ee76a2e1320d0e:7b2029961bd5c048d884124f64f579e6:4202c3bfd0c95ec6e2431a85640f8296$</string>
            <key>textureFileName</key>
            <string>eliminationeffect.png</string>
        </dict>
    </dict>
</plist>
