<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collectionball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{3,3},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveTarget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,156}</string>
                <key>spriteSourceSize</key>
                <string>{348,156}</string>
                <key>textureRect</key>
                <string>{{29,3},{348,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{381,3},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,88}</string>
                <key>spriteSourceSize</key>
                <string>{26,88}</string>
                <key>textureRect</key>
                <string>{{407,3},{26,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reflectball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{437,3},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trackball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,10}</string>
                <key>spriteSourceSize</key>
                <string>{32,10}</string>
                <key>textureRect</key>
                <string>{{463,3},{32,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trackball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,12}</string>
                <key>textureRect</key>
                <string>{{3,163},{32,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balls.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63387a7c79728624806524762504d8a1:10921272b19bdcd1e1f25ee0ef7754ad:3959c3c7cd8059bc66a919bdfa1ee67d$</string>
            <key>textureFileName</key>
            <string>balls.png</string>
        </dict>
    </dict>
</plist>
